<section class="py-xl bg-surface relative overflow-hidden">
	<div class="blob w-96 h-96 bg-primary-container right-0 bottom-0 opacity-10"></div>
	<div class="max-w-container-max mx-auto px-gutter">
		<div class="bg-secondary rounded-[3rem] overflow-hidden shadow-2xl relative">
			<div class="flex flex-col lg:flex-row">
				<div class="w-full lg:w-1/2 p-12 md:p-20 flex flex-col justify-center text-white relative z-10">
					<div class="mb-8">
						<span class="bg-white/10 border border-white/20 px-4 py-1 rounded-full text-xs font-bold uppercase tracking-widest">Historias Reales</span>
					</div>
					<h2 class="font-headline-lg text-4xl md:text-5xl mb-6">"Mi vida cambió <br>en Dublín"</h2>
					<p class="font-body-lg text-white/80 mb-8 max-w-md">
						Conoce la historia de Sofía y cómo nuestro programa le permitió trabajar en una de las mayores tecnológicas de Europa mientras estudiaba.
					</p>
					<div class="flex items-center gap-4 p-4 glass-card rounded-2xl border-white/10 max-w-xs">
						<img alt="Sofia" class="w-12 h-12 rounded-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDLA9pJJP6M4ih4N8K0z9_hKKpfSXHwIC_MFYvyWzPbBgGUYEL1CbZ0H11qJKLq80Ev4F6Bzak4iGIhl1qL4HDMMWAx7j0C1Ih-driRPN2jv-MsCBaRnIu45MPAybiQyu_tcTN1VQeVSOIU7BrVjaqE-WIe8gXFoEexhwwlSOyY5GQVD4qOSmzw2vPXozkQxdV1VJp83AjOXTqFeaUJC0bIIs6gXgRCRK7ogEWFYAUNzJsiH_61wXKP" />
						<div>
							<p class="font-bold">Sofía Rodríguez</p>
							<p class="text-xs text-primary-container">Customer Support Specialist @ Google</p>
						</div>
					</div>
				</div>
				<div class="w-full lg:w-1/2 relative min-h-[400px]">
					<img alt="Video Placeholder" class="absolute inset-0 w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida/AP1WRLvjVH80G78l_oBHnsW_H2tW5JPSo5s1npc5-65SfYdIwhfy0ydFLNePCvYlSPl_2kGRC9zjHsJOwnKVRv_q7S2MHkVl-3QevwgWMvx4tAEyNlyyUqv2eiaNuL3QRxfTcH8cVMIVNd7e6nC4EU5jbHUXWp6484NuMIceu6jsVeWUH32Y7I1W9wicLq5m5A-Yqd2XMO1fs8C6vXvf9YScfrH40r1YtsTP2PLziPutQhh3AhkuR630w8iUkU0" />
					<div class="absolute inset-0 flex items-center justify-center">
						<div class="w-24 h-24 bg-primary-container text-on-primary-container rounded-full flex items-center justify-center shadow-2xl scale-100 hover:scale-110 transition-transform cursor-pointer">
							<span class="material-symbols-outlined text-5xl" style="font-variation-settings: 'FILL' 1;">play_arrow</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
